/sauer_server
/sauer_server.debug
*/*.o
*/*.a
*/*.res
*.exe
/core.*
/enet/*
/script/load.d/*
/script/others/*
/.exechistory
/*.demos/
/*/demos/
/*.log
/*/log
/*.serverexec
/*/serverexec
/nbproject/private
/var/*
.hist
GeoLite2-Country-Blocks-IPv4.csv
GeoLite2-City.mmdb
